@model List<IDGS901_tema1.Models.Pulques>

@{
    ViewBag.Title = "MuestraPulques";
}

<h2>MuestraPulques</h2>
<div class="container">
    <div class="row">
        <table class="table table-bordered table-hover">
            <thead class="table-dark text-white">
                <th>Productos</th>
                <th>Descripción</th>
                <th>Litros</th>
                <th>Producción</th>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Producto</td>
                        <td>@item.Descripcion</td>
                        <td>@item.litros</td>
                        <td>@item.Produccion</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
