@model IDGS901_tema1.Models.Distancia

@{
    ViewBag.Title = "Calcular";
}

<h2>Calcular</h2>

<div class="container">
    <div class="row">
        <h2 class="text-center">El resultado es: @Html.DisplayFor(model => model.Res) </h2>
    </div>
</div>